.webvisuals__header {
    display: flex;
    margin-top: 5rem;

}

.webvisuals__header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 5rem;
}

.webvisuals__header-content h1 {
    font-size: 60px;
    color: whitesmoke;
    
}

.webvisuals__header-content p {
    color: whitesmoke;
    margin-top: 3rem;
    font-size: 20px;
    line-height: 2rem;
}

.webvisuals__header-image img {
    border-radius: 30px;
    float: left;
}